{% extends 'aplicacion/base.html' %}
{% load static %}
<body>
    {% block contenido %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3">Maria Laura Puig D'Aria</h1>
                <p class="lead">Hola! Soy Maria Laura, tengo 41 años, me desempeño como administrativa en una empresa del rubro óptico, razón por la cual elegí como proyecto final hacer una página sobre una empresa de Armazones.
                    Este año me surgió la inquietud de incursionar en el mundo de la programación ya que siempre me llamo la atención y resultó sumamente atractivo desde el punto de vista del desafio.
                    Cierro esta etapa con ganas de continuar aprendiendo para poder expandir mis conocimientos sobre el mundo del desarrollo web. 
                    
                </p>
                
            </div>
        </div>
    </div>
  {% endblock contenido %}

</body>
</html>